ServiceAPIExtensions/bin/
ServiceAPIExtensions/obj/

ServiceAPIExtensionsTest/bin/Debug/
ServiceAPIExtensionsTest/bin/Release/
ServiceAPIExtensionsTest/obj/Debug/
ServiceAPIExtensionsTest/obj/Release/

TestResults

ServiceAPIExtensionsTest/ServiceAPIExtensionsTest/bin/Debug/

ServiceAPIExtensionsTest/ServiceAPIExtensionsTest/bin/Release/

ServiceAPIExtensionsTest/ServiceAPIExtensionsTest/obj/Debug/

ServiceAPIExtensionsTest/ServiceAPIExtensionsTest/obj/Release/


ServiceAPIExtensionsTest/packages
